:root {
    font-size: 14px;
    --theme-color1: #A2D2FF;
    --theme-color2: #173F54;
}

body {
    background-color: var(--theme-color1);
    width: 100%;
    margin: 0;
    padding: 0;
    color: var(--theme-color2);
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    border-bottom: 2px solid var(--theme-color2);
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: var(--theme-color1);
}

#name {
    font-size: 2.2rem;
    text-transform: uppercase;
    letter-spacing: 0.6rem;
}

#links {
    display: flex;
    gap: 20px;
}

a, a:visited {
    text-decoration: none;
    color: var(--theme-color2);
}

li {
    list-style-type: none;
    margin: 0;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 600;
}

section {
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section h1, h2 {
    padding-top: 20px;
    text-transform: uppercase;
    font-size: 2.5rem;
    letter-spacing: 0.4rem;
}

.bio {
    font-size: 1.45rem;
    width: 650px;
    display: flex;
    flex-direction: column;
    gap: -1px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 15px;
    border-bottom: 2px solid var(--theme-color2);
}

.bio p {
    text-align: justify;
    letter-spacing: 0.1rem;
    line-height: 1.8rem;
}

#project-section {
    padding-bottom: 50px;
}

#projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.project-tile {
    border: 2px solid var(--theme-color2);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: var(--theme-color1);
}

h3 {
    font-size: 1.5rem;
}

.project-tile img {
    width: 400px;
}

#contact-info {
    background-color: var(--theme-color2);
}