@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Pridi:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Pridi:wght@200;300;400;500;600;700&display=swap');

::root {
    font-size: 12px;
}

body {
    display: flex;
    justify-content: center;
    background-color: #adadad;
}

.newspaper-layout {
    display: grid;
    grid-template-areas: 
        "title title title"
        "feature-article feature-article cover-image"
        "secondary-article secondary-article cover-image"
        "small-article1 small-article2 small-article3";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr 1fr 1fr;
    gap: 1.1rem;
    min-width: 600px;
    max-width: 800px;
    background-color: rgb(228, 228, 225);
    padding: 15px;
    border-radius: 20px;
}

h2, h3 {
    text-align: center;
    font-family: "Merriweather Sans", sans-serif;
}

p {
    text-align: justify;
    font-size: 1rem;
    line-height: 1.3;
    font-family: "Old Standard TT", serif;
}

.title, [class*="article"] {
    background-color: #C6CEC8;
    border-radius: 20px;
    padding: 0 10px;
}

.title {
    grid-area: title;
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    font-family: "Pridi", serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: -10px;
}

.feature-article {
    grid-area: feature-article;
}

.cover-image {
    grid-area: cover-image;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
}

.cover-image img {
    width: 500px;
    max-width: 100%;
}

figcaption {
    font-size: 12px;
    font-family: "Old Standard TT", serif;
}


.secondary-article {
    grid-area: secondary-article;
}

.small-article1 {
    grid-area: small-article1;
}

.small-article2 {
    grid-area: small-article2;
}

.small-article3 {
    grid-area: small-article3;
}