@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    font-size: 16px;
    --primary-color: rgb(127, 85, 57);
    --secondary-color: #ede0d4;
}

body {
    margin: 0;
    background-color: var(--secondary-color);
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 15px 15px;
    text-transform: uppercase;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: var(--primary-color);
}

#header-img {
    width: 100px;
}

#brand {
    font-size: 2.4rem;
    letter-spacing: 3px;
    font-family: "DynaPuff", "Trebuchet MS", sans-serif;
    color: var(--secondary-color);
}

#nav-bar {
    display: flex;
    gap: 20px;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
}

.nav-link {
    text-decoration: none;
    font-size: 1.2rem;
    letter-spacing: 2px;
    color: rgb(241, 238, 238);
}

#hero {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
    margin-bottom: 50px;
}

#hero h2 {
    font-size: 2rem;
}

#hero p {
    margin-bottom: 40px;
    font-size: 1.3rem;
}

#features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 100px;
    padding: 30px 50px;
    max-width: 100%;
    background-color: var(--primary-color);
}

.feature {
    text-align: center;
    color: #fff7f0;
}

.feature h3 {
    font-size: 1.3rem;
}

.feature p {
    text-align: justify;
    line-height: 1.5rem;
    letter-spacing: 1px;
    font-size: 1.2rem;
}

#pricing {
    margin-top: 40px;
}

#pricing h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: 3px;
}

#prices {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 40px 20px;
    place-items: center;
}


#price1, #price2, #price3 {
    text-align: center;
    border: 1.5px solid black;
    width: 400px;
    border-radius: 10px;
    overflow: hidden;
}

[id*="price"] h3 {
    text-transform: uppercase;
    font-size: 1.7rem;
    letter-spacing: 1px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    margin-top: 0;
    padding: 15px 0;
}

[id*="price"] h4 {
    font-size: 1.1rem;
}

.cost {
    font-size: 1.8rem;
    letter-spacing: 1.2px;
}

.amount {
    font-weight: bold;
    font-size: 1.3rem;
}

[id*="price"] ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
    margin-bottom: 30px;
    font-size: 1.1rem;
}

footer {
    bottom: 0;
}